body {
    font-family: Abel, sans-serif;
    background-color: #f4f4f4;
    color:brown;
    margin: 0;
    padding: 0;
    
}
.abel-regular {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.container {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(245, 222, 179, 0.297); /* Semi-transparent background color */
    backdrop-filter: blur(10px); /* Blurry effect */
    align-items: center;
    justify-content: center;
    color: aliceblue;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    
}



h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: gray;
}

select{
    width: 103%;
}

.error-message {
    color: #d9534f;
    font-size: 0.875em;
}

button {
    width: 103%;
    padding: 5px;
    background-color: burlywood;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: rgb(198, 126, 10);
}

#formMessage {
    margin-top: 15px;
    font-size: 1.25em;
}
